
# Here we set all the Elastic beanstalk Environment Variables as Linux Environment Variables so we can use it in artisan tinker for example.
commands:
    01-setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/vars.sh
    
    02-export:
        command: cat /etc/profile.d/vars.sh >> /etc/profile
packages:
    yum:
        jq: []