Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: your-bucket-name

packages:
  yum:
    mod_ssl : []


#Here we download the .env file from a bucket and place it in the /tmp directory for further processing
#We also enable some PHP libraries and configurations
#Remember that some extensions need to be installed if its not native, see 03init.config for more info
files:
  /tmp/.env:
    mode: "000400"
    owner: webapp
    group: webapp
    source: 'https://your-bucket-url/`{ "Ref" : "AWSEBEnvironmentName" }`/.env'
    authentication: S3Access

  /etc/php.d/php-modules.ini:
    mode: "000755"
    owner: root
    group: root
    content: |
      extension=soap
      extension=gd
      
  /etc/php.d/php-config.ini:
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize=64M
      post_max_size=64M