option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 256M
commands:
    #here you can install non default php extensions such as apfd
    02install-apfd:
        command: pecl install apfd >/dev/null 2>&1 || { retVal=$?; true; }

    #some extensions require additional yum packages to be installed
    03install-php-gd:
        command: sudo yum install php-gd
container_commands:
    01-copy_env:
        command: "mv /tmp/.env /var/app/staging/.env"

    03-config_clear:
        command: "php artisan config:clear"
        
    04-view_clear:
        command: "php artisan view:clear"

    05-route_cache:
        command: "php artisan route:cache"

    06-view_cache:
        command: "php artisan view:cache"

    07-migration:
        command: "php artisan migrate --force"
        cwd: "/var/app/staging"
        leader_only: true

    08-link:
        command: "php artisan storage:link"
        cwd: "/var/app/staging"