#this file aimbs to install pre-generated SSL certificates if youre using AWS SSL certificates
#The workflow is to download the SSL private key and full chain and put it inside the amazon linux certificate folder

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: your-bucket-name

packages:
  yum:
    mod_ssl : []

files:
  /etc/pki/tls/certs/privkey.pem:
    mode: "000400"
    owner: root
    group: root
    source: 'https://your-bucket-name/ssl/privkey.pem'
    authentication: S3Access
   
  /etc/pki/tls/certs/fullchain.pem:
    mode: "000400"
    owner: root
    group: root
    source: 'https://your-bucket-name/ssl/fullchain.pem'
    authentication: S3Access
