container_commands:
    01-queue_service_enable:
        command: "systemctl enable laravel_worker"
        
    02-queue_service_restart:
        command: "systemctl restart laravel_worker"

files: 
    /etc/systemd/system/laravel_worker.service:
        mode: "000755"
        owner: root
        group: root
        content: |
            # Laravel queue worker using systemd
            # ----------------------------------
            #
            # /lib/systemd/system/laravel_worker.service
            #
            # run this command to enable service:
            # systemctl enable laravel_worker.service

            [Unit]
            Description=Laravel queue worker

            [Service]
            User=webapp
            Group=webapp
            Restart=always
            ExecStart=/usr/bin/nohup /usr/bin/php /var/app/current/artisan queue:work --daemon

            [Install]
            WantedBy=multi-user.target

commands:
  remove_service_bak_file:
    command: "rm -f /etc/systemd/system/laravel_worker.service.bak"